@charset "UTF-8";
body {
  background-color: #640000;
  margin: 0;
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.h3-footer {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.test {
  width: 200px !important;
  height: 350px !important;
  margin: 20px;
  background-color: #503f32;
}

.container {
  margin: 0 auto;
  background: linear-gradient(115deg, #503f32, #181b1e);
}
.container .header-container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 60px;
}
.container .header-container .hamburger-menu {
  display: none;
  position: absolute;
}
.container .header-container a {
  text-decoration: none;
}
.container .header-container h1 {
  margin-bottom: 10px;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
.container .header-container .logo-description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.container .header-container .navigation {
  margin-top: 20px;
}
.container .header-container .header-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
.container .header-container .header-ul li {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.container .header-container .header-ul li a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
.container .header-container .header-ul li a:hover {
  cursor: pointer;
}
.container .header-container .header-ul li a:hover:after {
  position: relative;
  display: block;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.container .header-container .header-ul li .a-about {
  position: relative;
  top: 2px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  text-decoration: none;
}
.container .header-container .header-ul li .a-about:after {
  position: relative;
  display: block;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.container .main-page {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .main-page .description-main-page {
  max-width: 460px;
  max-height: 322px;
  padding-top: 173px;
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
}
.container .main-page .description-main-page .not-only {
  max-width: 310px;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.container .main-page .description-main-page .we-offer {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #CDCDCD;
  margin-bottom: 25px;
}
.container .main-page .description-main-page button {
  width: 207px;
  height: 52px;
  border-radius: 45px;
  border: none;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.container .main-page .description-main-page button:hover {
  background-color: #FDDCC4;
}
.container .main-page .first-cute-dog {
  display: block;
  position: relative;
  bottom: -4px;
}

.about-section {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 17%;
  padding-right: 17%;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.about-section .cat-dog-svg {
  display: block;
  width: 300px;
  height: 408px;
  background-image: url(assets/about-pets.svg);
  background-repeat: no-repeat;
  padding-right: 50px;
}
.about-section .about-shelter-text {
  flex-shrink: 5;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  padding-left: 50px;
}
.about-section .about-shelter-text .h3-about {
  margin-top: 14px;
  margin-bottom: 12px;
  max-width: 350px;
}
.about-section .about-shelter-text p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.wrapper-our-friends {
  width: 100%;
  background-color: #F6F6F6;
}
.wrapper-our-friends .our-friends {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.wrapper-our-friends .our-friends .h3-our-friends {
  display: block;
  width: 400px;
  height: 90px;
  text-align: center;
}
.wrapper-our-friends .our-friends .dogs-and-arrows {
  padding-top: 25px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .div-arrow {
  width: 38px;
  height: 40px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  padding-left: 18px;
  padding-top: 15px;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .div-arrow:hover {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  cursor: pointer;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .dogs-slider {
  max-width: 1080px;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0 45px;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide .katrine-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("assets/pets-katrine.svg");
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide .pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide .learn-more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #FAFAFA;
  color: #292929;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide .jennifer-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("assets/pets-jennifer.svg");
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide .woody-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("assets/pets-woody.svg");
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-our-friends .our-friends .dogs-and-arrows .pet-slide:hover .learn-more {
  border: #FDDCC4;
  background-color: #FDDCC4;
  cursor: pointer;
}
.wrapper-our-friends .our-friends .get-to-know {
  width: 261px;
  height: 52px;
  background-color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
  border-radius: 26px;
}
.wrapper-our-friends .our-friends .get-to-know:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.wrapper-how-you-can {
  width: 100%;
  background-color: #FFFFFF;
}
.wrapper-how-you-can .how-you-can {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 50px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-how-you-can .how-you-can .h3-how-you-can {
  width: 320px;
  height: 90px;
  text-align: center;
  margin-bottom: 50px;
}
.wrapper-how-you-can .how-you-can .types-helps {
  min-height: 350px;
  max-width: 1090px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wrapper-how-you-can .how-you-can .types-helps .help-note {
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}
.wrapper-how-you-can .how-you-can .types-helps .one-help {
  width: 166px;
  height: 113px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-foot {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-pet-food.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-transp {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-transportation.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-toys {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-toys.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-bowls {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-bowls-and-cups.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-shampoons {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-shampoos.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-vitamins {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-vitamins.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-med {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-medicines.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-collars {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-collars-leashes.svg);
}
.wrapper-how-you-can .how-you-can .types-helps .one-help .svg-sleep {
  width: 60px;
  height: 60px;
  background-image: url(assets/helps-svg/icon-sleeping-area.svg);
}

.wrapper-you-can-also {
  width: 100%;
  background-color: #F6F6F6;
}
.wrapper-you-can-also .you-can-also-section {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 84px;
  background: #F6F6F6;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "ginger-dog donat-info";
  justify-items: start;
}
.wrapper-you-can-also .you-can-also-section .svg-psa {
  display: block;
  width: 505px;
  height: 261px;
  background-image: url(assets/donation-dog.svg);
  background-repeat: no-repeat;
  margin-top: 20px;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block {
  display: block;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block a {
  text-decoration: none;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .you-can {
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .name-bank-form {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  margin-bottom: 20px;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .cod-of-card {
  max-width: 349px;
  height: 33px;
  background-color: #F1CDB3;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .cod-of-card .svg-card {
  width: 30px;
  height: 23px;
  background-image: url(assets/credit-card.svg);
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .cod-of-card .digitals-card {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .cod-of-card:hover {
  background-color: #FDDCC4;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .legal-info {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #B2B2B2;
}
.wrapper-you-can-also .you-can-also-section .you-can-also-block .legal-info p {
  margin-top: 20px;
}

.wrapper-footer {
  margin: 0 auto;
  background: linear-gradient(115deg, #503f32, #181b1e);
}
.wrapper-footer footer {
  max-width: 1280px;
  max-height: 350px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: grid;
  row-gap: 55px;
  column-gap: 150px;
  grid-template-rows: 90px 20px 20px;
  grid-template-columns: 25% 25% 25%;
  grid-template-areas: "for we dog" "email adr-1 dog" "num adr-2 dog";
  justify-items: start;
}
.wrapper-footer footer .for-questions {
  grid-area: for;
}
.wrapper-footer footer .email {
  grid-area: email;
}
.wrapper-footer footer .number {
  grid-area: num;
}
.wrapper-footer footer .we-are-waiting {
  grid-area: we;
}
.wrapper-footer footer .adress-1 {
  grid-area: adr-1;
}
.wrapper-footer footer .adress-2 {
  grid-area: adr-2;
}
.wrapper-footer footer .svg-dog {
  position: relative;
  bottom: 10px;
  grid-area: dog;
}
.wrapper-footer footer .svg-icon-footer {
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
}
.wrapper-footer footer .svg-email {
  background-image: url(assets/mail.svg);
}
.wrapper-footer footer .svg-number {
  background-image: url(assets/phone.svg);
}
.wrapper-footer footer .adress1 {
  background-image: url(assets/icon-marker.svg);
}
.wrapper-footer footer .adress2 {
  background-image: url(assets/icon-marker.svg);
}
.wrapper-footer footer .footer-text {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper-footer footer .footer-text p {
  padding-left: 15px;
}

@media (max-width: 1279px) {
  .main-page {
    padding-bottom: 30px;
  }

  .main-page .description-main-page {
    padding-top: 30px !important;
  }

  .description-main-page .button {
    align-self: center;
  }

  .description-main-page .not-only {
    margin-bottom: 27px !important;
  }

  .main-page .first-cute-dog {
    display: block;
    margin-top: 70px;
    text-align: center;
  }

  .header-ul {
    padding-left: 0px;
  }

  .container .header-container {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .first-cute-dog img {
    max-width: 82%;
    text-align: center;
    position: relative;
    top: 30px;
    left: 70px;
  }

  .description-main-page .we-offer {
    margin-bottom: 35px;
  }

  .about-section .about-shelter-text {
    padding-left: 0;
    align-self: center;
  }

  .about-section {
    flex-direction: column-reverse;
  }

  .first-cute-dog {
    text-align: center;
    margin-top: 40px;
  }

  .second-cute-dog {
    text-align: center;
    margin-top: 70px;
  }

  .dogs-slider {
    width: 75vw;
  }

  .pet-slide {
    margin: 0 20px !important;
    overflow: hidden;
  }

  .container .main-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-how-you-can .how-you-can .types-helps {
    min-height: 450px;
    align-content: space-between;
  }

  .wrapper-how-you-can .how-you-can {
    padding-bottom: 110px;
  }

  .wrapper-you-can-also .you-can-also-section .svg-psa {
    margin-top: 50px;
  }

  .wrapper-you-can-also {
    width: 100%;
  }
  .wrapper-you-can-also .you-can-also-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 100px;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block {
    width: 50vw;
  }

  .wrapper-footer footer {
    max-width: 1280px;
    max-height: 640px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 0;
    margin: 0 auto;
    display: grid;
    row-gap: 32px;
    column-gap: 50px;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1.3fr 0.2fr;
    grid-template-columns: 45% 45%;
    grid-template-areas: "for we" "email adr-1" "num adr-2" "dog dog" "dog dog" "dog dog";
    justify-items: start;
  }
  .wrapper-footer footer p {
    margin: 0;
  }
  .wrapper-footer footer .svg-dog {
    position: relative;
    bottom: 26px;
    justify-self: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .container .header-container {
    padding-left: 10px;
    padding-bottom: 45px;
  }
  .container .header-container .navigation {
    display: none;
  }
  .container .header-container .hamburger-menu {
    display: block;
    position: absolute;
    right: 50px;
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  .container .header-container .hamburger-menu #menu__toggle {
    opacity: 0;
  }
  .container .header-container .hamburger-menu .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 35px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  .container .header-container .hamburger-menu .menu__btn > span,
.container .header-container .hamburger-menu .menu__btn > span::before,
.container .header-container .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  .container .header-container .hamburger-menu .menu__btn > span::before {
    content: "";
    top: -10px;
  }
  .container .header-container .hamburger-menu .menu__btn > span::after {
    content: "";
    top: 10px;
  }
  .container .header-container .hamburger-menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #292929;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  .container .header-container .hamburger-menu .menu__box .hamburger-title {
    margin-left: 10px;
    margin-top: 30px;
    text-align: left;
  }
  .container .header-container .hamburger-menu .menu__box ul {
    padding-inline-start: 0;
    list-style: none;
    padding-top: 150px;
  }
  .container .header-container .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    text-align: center;
    color: #FAFAFA;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .container .header-container .hamburger-menu .menu__item:hover {
    background-color: #CFD8DC;
  }
  .container .header-container .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(90deg);
  }
  .container .header-container .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .container .header-container .hamburger-menu #menu__toggle:checked ~ .main__logo {
    visibility: hidden;
    right: 0;
  }
  .container .main-page {
    padding: 0 10px;
  }
  .container .main-page .description-main-page {
    padding-top: 15px !important;
  }
  .container .main-page .description-main-page .not-only {
    align-self: center;
    margin: 0 20px;
    margin-bottom: 8px !important;
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
  }
  .container .main-page .description-main-page .we-offer {
    margin-top: 20px;
    text-align: center;
    color: #CDCDCD;
  }
  .container .main-page .first-cute-dog {
    margin-left: 40px;
    margin-top: 105px;
  }
  .container .main-page .first-cute-dog img {
    position: static;
    max-width: 100%;
  }

  .about-section {
    padding: 28px 25px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
  }
  .about-section .second-cute-dog {
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 25px;
  }
  .about-section .second-cute-dog img {
    max-width: 100%;
  }
  .about-section .about-shelter-text .h3-about {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .about-section .about-shelter-text p {
    text-align: justify;
  }

  .wrapper-our-friends .our-friends {
    padding-bottom: 17px;
  }

  .wrapper-our-friends .our-friends .h3-our-friends {
    margin: 0;
    height: fit-content;
    width: fit-content;
  }

  .wrapper-our-friends .our-friends .dogs-and-arrows {
    display: block;
    padding-top: 0;
  }

  .our-friends .dogs-and-arrows .left-arrow {
    position: relative;
    bottom: -510px;
    left: 30px;
  }
  .our-friends .dogs-and-arrows .right-arrow {
    position: relative;
    bottom: -16px;
    left: calc(100% - 85px);
  }

  .wrapper-how-you-can .how-you-can {
    padding: 45px 23px;
  }

  .wrapper-how-you-can .how-you-can .h3-how-you-can {
    margin: 0;
  }

  .wrapper-how-you-can .how-you-can .types-helps {
    justify-content: space-between;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help {
    width: 126px;
    margin: 0;
    justify-content: space-around;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-foot {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-transp {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-bowls {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-shampoons {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-vitamins {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-med {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-collars {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-sleep {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .one-help .svg-toys {
    width: 50px;
    background-size: contain;
    height: 50px;
  }

  .wrapper-how-you-can .how-you-can .types-helps .help-note {
    font-size: 15px;
  }

  .wrapper-you-can-also .you-can-also-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .wrapper-you-can-also .you-can-also-section .svg-psa {
    width: 260px;
    height: 135px;
    background-size: contain;
    margin-top: 30px;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block {
    text-align: -webkit-center;
    padding: 0;
    width: 95%;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block .you-can {
    text-align: center;
    margin: 0 30px;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block .name-bank-form {
    margin-top: 20px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block a .cod-of-card .digitals-card {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .wrapper-you-can-also .you-can-also-section .you-can-also-block .legal-info {
    text-align: justify;
  }

  .wrapper-footer {
    margin: 0 auto;
    background: linear-gradient(115deg, #503f32, #181b1e);
  }
  .wrapper-footer footer {
    max-height: 810px;
    padding: 30px 10px;
    padding-bottom: 0;
    margin: 0 auto;
    display: grid;
    row-gap: 37px;
    column-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: 70px 30px 30px 70px 30px 55px 270px;
    grid-template-areas: "for" "email" "num" "we" "adr-1" "adr-2" "dog";
    justify-items: center;
  }
  .wrapper-footer footer .h3-footer {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .wrapper-footer footer a .email,
.wrapper-footer footer a .number {
    margin: 0 20px;
  }
  .wrapper-footer footer .we-are-waiting {
    margin: 0 20px;
  }
  .wrapper-footer footer .adress-2 {
    align-self: flex-end;
  }
  .wrapper-footer footer .svg-dog {
    width: 260px;
    height: 269px;
    margin-top: 28px;
  }
}
/*
.container{
   // max-width: 1280px;
    margin: 0 auto;
   // padding-left: 40px;
   // padding-right: 40px;
    background: $background ;

    .header-container{
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 60px;




@import 'add';

$background-colour: rgb(26, 66, 35);

$primary-font: Arial, serif;

$primary-font-size: 48px;

%message {
    display: flex;
    align-items: center;
}

body {
    background-color: $background-colour;
    font-family: $primary-font;
    font-size: $primary-font-size;
    @extend %message;
}

ul {
    li {
        margin: 10px 20px;
    }
    a {
        color: #022000 ;
    }
}
*/

/*# sourceMappingURL=output.css.map */
