body {
  background-color: #640000;
  margin: 0;
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.h3-footer {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  background: #FFFFFF;
}
.container .header-container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 60px;
}
.container .header-container a {
  text-decoration: none;
}
.container .header-container h1 {
  margin-bottom: 10px;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  text-decoration: none;
}
.container .header-container .logo-description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
}
.container .header-container .navigation {
  margin-top: 20px;
}
.container .header-container .header-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
.container .header-container .header-ul li {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}
.container .header-container .header-ul li a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
.container .header-container .header-ul li a:hover {
  cursor: pointer;
}
.container .header-container .header-ul li a:hover:after {
  position: relative;
  display: block;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.container .header-container .header-ul li .a-about {
  position: relative;
  top: 2px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
.container .header-container .header-ul li .a-about:after {
  position: relative;
  display: block;
  content: "";
  top: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}

.wrapper-main-pets-block {
  margin: 0 auto;
  background: #F6F6F6;
}
.wrapper-main-pets-block section {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.wrapper-main-pets-block section h3 {
  max-width: 400px;
  text-align: center;
}
.wrapper-main-pets-block section .dogs-slider {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrapper-main-pets-block section .pet-slide {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
}
.wrapper-main-pets-block section .pet-slide .katrine-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-katrine.svg");
}
.wrapper-main-pets-block section .pet-slide .pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.wrapper-main-pets-block section .pet-slide .learn-more {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #FAFAFA;
  color: #292929;
}
.wrapper-main-pets-block section .pet-slide .jennifer-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-jennifer.svg");
}
.wrapper-main-pets-block section .pet-slide .woody-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-woody.svg");
}
.wrapper-main-pets-block section .pet-slide .sof-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-katrine (1).svg");
}
.wrapper-main-pets-block section .pet-slide .tim-svg {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-timmy.svg");
}
.wrapper-main-pets-block section .pet-slide .char {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-charly.svg");
}
.wrapper-main-pets-block section .pet-slide .scar {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-scarlet.svg");
}
.wrapper-main-pets-block section .pet-slide .fred {
  display: block;
  width: 270px;
  height: 270px;
  background-image: url("../assets/pets-katrine (2).svg");
}
.wrapper-main-pets-block section .pet-slide:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.wrapper-main-pets-block section .pet-slide:hover .learn-more {
  border: #FDDCC4;
  background-color: #FDDCC4;
}
.wrapper-main-pets-block section .pets-modals {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper-main-pets-block section .pets-modals .pet-modal {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*      <section>

          <div class="arrows-and-numbers-pages"></div>*/
.wrapper-footer {
  margin: 0 auto;
  background: linear-gradient(135deg, #503f32, #222020);
}
.wrapper-footer footer {
  max-width: 1280px;
  max-height: 350px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: grid;
  row-gap: 55px;
  column-gap: 150px;
  grid-template-rows: 90px 20px 20px;
  grid-template-columns: 25% 25% 25%;
  grid-template-areas: "for we dog" "email adr-1 dog" "num adr-2 dog";
  justify-items: start;
}
.wrapper-footer footer .for-questions {
  grid-area: for;
}
.wrapper-footer footer .email {
  grid-area: email;
}
.wrapper-footer footer .number {
  grid-area: num;
}
.wrapper-footer footer .we-are-waiting {
  grid-area: we;
}
.wrapper-footer footer .adress-1 {
  grid-area: adr-1;
}
.wrapper-footer footer .adress-2 {
  grid-area: adr-2;
}
.wrapper-footer footer .svg-dog {
  grid-area: dog;
  width: 300px;
  height: 300px;
  color: #F1CDB3;
  background-image: url(../assets/footer-puppy.svg);
}
.wrapper-footer footer .svg-icon-footer {
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
}
.wrapper-footer footer .svg-email {
  background-image: url(../assets/mail.svg);
}
.wrapper-footer footer .svg-number {
  background-image: url(../assets/phone.svg);
}
.wrapper-footer footer .adress1 {
  background-image: url(../assets/icon-marker.svg);
}
.wrapper-footer footer .adress2 {
  background-image: url(../assets/icon-marker.svg);
}
.wrapper-footer footer .footer-text {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #F1CDB3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper-footer footer .footer-text p {
  padding-left: 15px;
}

/*
.container{
   // max-width: 1280px;
    margin: 0 auto;
   // padding-left: 40px;
   // padding-right: 40px;
    background: $background ;

    .header-container{
        max-width: 1280px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 60px;




@import 'add';

$background-colour: rgb(26, 66, 35);

$primary-font: Arial, serif;

$primary-font-size: 48px;

%message {
    display: flex;
    align-items: center;
}

body {
    background-color: $background-colour;
    font-family: $primary-font;
    font-size: $primary-font-size;
    @extend %message;
}

ul {
    li {
        margin: 10px 20px;
    }
    a {
        color: #022000 ;
    }
}
*/

/*# sourceMappingURL=output.css.map */
